
<h1>State: @ViewBag.State</h1>
<h1>Incremented Sales for : @ViewBag.Year</h1>
<h1>Incremented Percentage : @ViewBag.PercentageIncrement</h1>
<h1>Incremeted total sales : @(ViewBag.TotalSales * (1 + ViewBag.PercentageIncrement / 100))</h1>


