@using SalesForecasting.Services
@model IEnumerable<SalesByState>

<h1>Sales for Year : @ViewBag.year</h1>

<h2>Total Sales: @ViewBag.totalsales</h2>

<table class="table">
    <thead>
        <tr>
            <th>State</th>
            <th>Total Sales</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.State</td>
                <td>@item.TotalSales.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

 